html {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 1280px;
    padding: 0;
}

header {
    width: 1280px;
    height: 300px;
    padding: 0px;
    background-color: rgb(229,228,226);
}
.header_container {
    width: 1280px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.photo {
    padding-left: 0px;
}
.header_description {
    width: 1030px;
    height: 300px;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(85, 107, 47);
    opacity: 80%;
}
.navigation {
    width: 900px;
    height: 80px;
    padding-left: 100px;
}
.nav {
    list-style-type: none;
    display: inline-flex;
    font-family: 'Times New Roman',Times serif;
    font-size: 20px;
    gap: 50px;
    margin: 0px;
    padding: 0;
    color: rgb(229,228,226);
}
.link_nav {
    text-decoration: none;
}
.link_nav:hover {
    text-decoration: underline;
}
.CV_name {
    width: 800px;
    height: 130px;
    padding-left: 100px;
    text-align: center;
    margin: 0px;
}
.my_name {
    font-family: 'Times New Roman', Times, serif;;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(229,228,226);
    letter-spacing: 1px;
}
.my_future_profession {
    padding: 0px 86px 65px 91px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: rgb(229,228,226);
    text-align: center;
    letter-spacing: 1px;
}
.main {
    width: 1280px;
    margin: 0px;
    padding: 0px;
}
.section_first {
    width: 1280px;
    height: 220px;
    padding: 0px;
    border-bottom: solid 1px rgb(85, 107, 47);
}
.contacts_and_about_me {
    width: 1280px;
    height: 220px;
    display: inline-flex;
}
.contacts {
    width: 390px;
    height: 220px;
    background-color: rgb(229,228,226);
}
.contacts_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 15px;
}
.about_me_block {
    width: 900px;
    height: 220px;
    text-align: left;
    margin: 0px;
    padding-top: 0px;
    background-color: rgb(229,228,226);
}
.about_me {
    width: 880px;
    height: 80px;
    text-align: left;
    margin: 0px;
    padding-top: 3px;
    padding-left: 29px;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
}
.hTwo_contacts {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 15px;
    padding-top: 7px;
}
.hTwo_about_me {
    text-align: left;
    margin: 0px;
    padding-bottom: 19px;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 30px;
}
.section_second {
    width: 1280px;
    height: 220px;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px rgb(85, 107, 47);
}
.languages_and_education {
    width: 1280px;
    height: 220px;
    display: inline-flex;
}
.languages {
    width: 390px;
    height: 220px;
    background-color:rgb(229,228,226);
}
.languages_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 15px;
}
.hTwo_languages {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.education_block {
    width: 900px;
    height: 220px;
    padding-left: 0px;
    text-align: left;
    margin: 0px;
    padding-top: 0px;
    background-color:rgb(229,228,226);
}
.hTwo_education {
    text-align: left;
    margin: 0px;
    padding-top: 28px;
    padding-bottom: 0px;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.education_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
}
.section_third {
    width: 1280px;
    height: 350px;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px rgb(85, 107, 47);
}
.skills_and_working_experience {
    width: 1280px;
    height: 350px;
    display: inline-flex;
}
.skills {
    width: 390px;
    height: 350px;
    background-color:rgb(229,228,226);
}
.skills_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 15px;
}
.hTwo_skills {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.working_experience_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
}
.working_experience_block {
    width: 900px;
    height: 350px;
    margin: 0px;
    padding-top: 0px;
    text-align: left;
    font-size: 25px;
    line-height: 25px;
    background-color:rgb(229,228,226);
}
.hTwo_working_experience {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 28px;
}

.section_fourth {
    width: 1280px;
    height: 500px;
    background-color:rgb(229,228,226);
    padding-top: 1px;
    border-bottom: solid 1px rgb(85, 107, 47);
}
.code {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 25px;
    position: relative;
}
.code_example_block {
    width: 900px;
    height: 450px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 325px;
    text-align: left;
    font-size: 25px;
    line-height: 25px;
    background-color:rgb(229,228,226);
}
.footer {
    width: 1280px;
    height: 90px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(229,228,226);
}
.footer_block {
    display: inline-flex;
}
.rsschool {
    padding-left: 490px;
}
.year {
    padding-left: 30px;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.github {
    padding-top: 8px;
    padding-left: 40px;
}