html {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 1280px;
    padding: 0;
}
header {
    width: 1280px;
    height: 300px;
    padding: 0px;
    background-color: rgb(229,228,226);
}
.header_container {
    width: 1280px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.photo {
    padding-left: 0px;
}
.header_description {
    width: 1030px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 107, 47);
    opacity: 80%;
}
.navigation {
    width: auto;
    height: auto;
    margin: 1px auto;
}
.nav {
    list-style-type: none;
    display: flex;
    font-family: 'Times New Roman',Times serif;
    font-size: 20px;
    gap: 50px;
    margin: 0px;
    padding: 0;
    color: rgb(229,228,226);
}

.link_nav {
    width: auto;
    text-decoration: none;
    color: rgb(229,228,226);
}

.link_nav:hover {
    text-decoration: underline;
    color: #ffffff;
}

.CV_name {
    width: 800px;
    height: 130px;
    text-align: center;
    margin: auto;
}
.my_name {
    font-family: 'Times New Roman', Times, serif;;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(229,228,226);
    letter-spacing: 1px;
}
.my_future_profession {
    padding: 0px 86px 65px 91px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: rgb(229,228,226);
    text-align: center;
    letter-spacing: 1px;
}
.main {
    width: 1280px;
    margin: 0px;
    padding: 0px;
}
.section_first,
.section_second,
.section_third,
.section_fourth {
    width: 1280px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.contacts_and_about_me,
.languages_and_education,
.skills_and_working_experience,
.projects_and_code {
    width: 1280px;
    height: auto;
    display: flex;
}

.contacts_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
}

.about_me {
    width: auto;
    height: auto;
    text-align: left;
    margin: 0px;
    padding-top: 3px;
    padding-left: 30px;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
}


.skills,
.projects,
.languages,
.contacts {
    width: 380px;
    height: auto;
    background-color:rgb(229,228,226);
    border-right: 1px solid  rgb(85, 107, 47);
}

.languages_list,
.skills_list,
.projects_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
}

.projects_list a {
    color: inherit;
    text-decoration: none;
}

.project a:hover {
    font-weight: bold;
    font-size: 22px;
}

.working_experience_list,
.education_list {
    list-style-type: none;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;
}

.about_me_block,
.education_block,
.working_experience_block,
.code_example_block {
    width: 900px;
    height: auto;
    margin: 0px;
    padding-top: 0px;
    text-align: left;
    font-size: 25px;
    line-height: 25px;
    background-color:rgb(229,228,226);
}

.hTwo_working_experience,
.hTwo_code_example,
.hTwo_skills,
.hTwo_projects,
.hTwo_languages,
.hTwo_education,
.hTwo_about_me,
.hTwo_contacts {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 30px;
    padding-left: 28px;
}

.code {
    width: auto;
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    white-space: pre;
}

.pre_code {
    width: auto;
    height: auto;
    padding-left: 0;
}

.footer {
    width: 1280px;
    height: auto;
    background-color: rgb(229,228,226);
    border-top: 1px solid rgb(85, 107, 47);
}
.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.year {
    color: rgb(85, 107, 47);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}